body{
  font-family: Arial;
  margin-top: 15%;
  background-color: #e6e9eb;
}

.horizontal_banner{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 15%;
  background-color: #5b91a9;
  color: white;
  overflow: auto;
  text-align: center;
  box-shadow: 5px 0px 6px #00000066
}

.content{
  color: #0a3444;
  margin-right: auto;
  text-align: center;
  font-size: 200%;
}

.other_pages{
  text-align: center;
}

.list{
  display: block;
  font-size: 150%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.links{
  color: #1871cc;
}

.footer{
  padding-top: 50px;
  font-size: 80%;
  text-align: center;
}
